---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag | slug }}/
layout: layouts/base.njk
---

<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "components/postslist.njk" %}

<div class="flex-grid t-center">
  <a class="flex-grid__item" href="{{ '/' | url }}"><h2 class="home-title m-0">← Back to all posts</h2></a>
</div>
