:root {
	--brand-color: #ffe79a;
	--link-color: #ef5a5a;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", -apple-system,'SF UI Text', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-color: var(--brand-color);
	font-size: 18px;
}
body

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', 'Helvetica', sans-serif;
}

h1 {
	color: var(--link-color);
	font-size: 60px;
	margin: 80px 0;
	padding: 0 20px;
	text-align: center;
}

p {
	line-height: 29px;
	margin: 0 0 10px;
}

a,a:visited {
	color: var(--link-color);
}

img {
	width: 100%;
}

hr {
	background: rgba(0,0,0,0.1);
	border: 0;
	height: 1px;
	margin: 20px 0;
	width: 100%;
}

.marginnote {
	font-size: 80%;
	font-style: italic;
}

small {
	display: block;
	font-size: 90%;
	width: 100%;
}

ul,ol {
	line-height: 29px;
	margin: 0 0 20px;
}

figure {
	margin: 0 0 10px 0;
}

pre {
	background: rgba(0,0,0,0.05);
	overflow: auto;
	padding: 10px;
}

table {
	border-collapse: collapse;
	display: table;
	margin: 2em 0;
	width: 100%;
}
table tr,
table td {
	text-align: left;
}
table tr {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
table td,
table th {
	padding: 10px;
}

/* The Grid(s) */
.flex-grid {
	display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin: 0 auto;
    max-width: 1400px;
}
.flex-grid--wrap {
	flex-wrap: wrap;
}
.flex-grid--sb {
	justify-content: space-between;
}
..flex-grid--col {
	flex-direction: column;
}

.flex-grid__item {
	background: white;
	border-radius: 10px;
    box-shadow: 0 30px 50px 0 rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 40px;
    text-decoration: none;
    transition: .3s ease all;
    width: calc(33% - 40px);
}
.flex-grid__item:hover {
	background: var(--link-color);
	box-shadow: 0 40px 60px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}
.flex-grid__item:hover h2.home-title,
.flex-grid__item:hover p.home-summary {
	color: white;
}

.flex-grid__item h2 {
	margin: 0 0 10px 0;
}
.flex-grid__item p {
	color: #2d2d2d;
	margin: 0;
}

.flex-grid__item--full-width {
	max-width: 650px;
	width: calc(100% - 40px) !important;
}

.flex-grid__item--no-hover:hover {
	background: white;
	box-shadow: 0 30px 50px 0 rgba(0,0,0,0.3);
	transform: none;
}
.flex-grid__item--no-hover p {
	margin: 0 0 20px 0;
}

/* Widths */
.w-100 {
	width: 100%;
}

/* Margins */
.m-0 {
	margin: 0 !important;
}
.m-40 {
	margin: 40px auto;
}

/* Padding */
.p-60 {
	padding: 0 60px;
}

/* Typography */
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}

/* Colors */
.c-dark {
	color: #2d2d2d;
}

/* Navigation */
nav ul {
	display: flex;
	padding: 0;
	list-style: none;
}
nav ul :first-child {
	margin-left: 0;
}
nav ul :last-child {
	margin-right: 0;
}
nav li {
	display: inline-block;
	font-size: 24px;
	margin: 0 .5em;
}
nav li a,
nav li a:visited {
	opacity: 0.6;
	text-decoration: none;
	transition: .3s ease all;
}
nav li a:hover {
	opacity: 1;
	text-decoration: underline;
}
nav li a[data-current="current item"] {
	font-weight: bold;
	opacity: 1;
	text-decoration: underline;
}

/* Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	background: var(--link-color);
	border-radius: 5px;
	color: white;
	padding: 5px 10px;
	text-decoration: none;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid black;
	border-radius: 5px;
}

button {
	border: 1px solid var(--link-color);
	background-color: var(--link-color);
	border-radius: 5px;
	color: white;
	cursor: pointer;
}

@media screen and (max-width: 1100px) {
	.flex-grid__item {
		width: calc(50% - 40px);
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 16px;
	}

	.flex-grid__item {
		margin: 10px;
		padding: 20px;
		width: 100% !important;
	}

	.flex-grid__item--full-width {
		margin: 10px 0;
	}

	h1 {
		font-size: 30px;
		margin: 40px 0;
	}

	p, ol, ul {
		line-height: 25px;
	}

	.p-60 {
		padding: 0 20px;
	}

	nav ul li {
		font-size: 16px;
	}

	.flex-break {
		display: block;
		text-align: center;
		width: 100%;
	}
}

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0 0 20px;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}


