<div class="flex-grid flex-grid--wrap flex-grid--col w-100 m-40 t-center">
    <small>
        Built by <a href="https://bradleytaunt.com">Bradley Taunt</a> with &hearts;.
        <br/>View the <a href="{{ pkg.repository.url }}">Github repo</a>.
    </small>
</div>
