---
layout: layouts/base-post.njk
section: page
---

<h1>{{ title }}</h1>

<div class="flex-grid">

  <div class="flex-grid__item flex-grid__item--no-hover flex-grid__item--full-width">

    {{ layoutContent | safe }}

  </div>

</div>
